
<%= stylesheet_link_tag('login_css') %>
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Welcome to the Exam Nation<br />
          <span style="color: hsl(218, 81%, 75%)">Prepare for Success</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Get ready to excel in your exams with Exam Nation. We provide a comprehensive platform that offers practice tests, and valuable resources to help you achieve your academic goals. Whether you are preparing for school exams, competitive entrance exams, or professional certifications, Exam Nation has got you covered. Take advantage of our curated content, expert guidance, and interactive learning tools to enhance your knowledge and boost your confidence. Join Exam Nation today and embark on your journey towards success.
        </p>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <h1 class="text-center">Login here:</h1>
            <%= form_with url: login_path, class: "login-form" do |f| %>
              <div class="form-group">
                <%= f.label :username, class:'required' %>
                <%= f.text_field :username, class: "form-control", placeholder: "Enter your username" %>
              </div>
              <div class="form-group">
                <%= f.label :password, class:'required' %>
                <%= f.password_field :password, class: "form-control", placeholder: "Enter your password" %>
              </div>
              <div class="form-group">
                <%= f.submit "Login", class: "btn btn-primary btn-block" %>
              </div>
              <%= link_to 'New user', signup_path, class: "signup-link" %>
            <% end %>
            <h3 class="text-center">Login with</h3>
            <%= button_to 'Google', '/auth/google_oauth2', class: "btn btn-google btn-block btn-outline-primary" %>
            <%= button_to 'FaceBook', '/auth/facebook', class: "btn btn-facebook btn-block btn-outline-primary mt-2" %>
            <%= button_to 'Log In Through link', '/magic', class: "btn btn-google btn-block btn-outline-primary mt-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
