<!-- app/views/admin/exams/index.html.erb -->

<h1 class='container'>Manage Exams</h1>
<% if notice %>
  <div class="notice">
    <%= notice %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <% @exams.each do |exam| %>
      <div class="col-md-4">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title"><%= exam.exam_name %></h5>
            <p class="card-text">Exam Date: <%= exam.start_time.to_date %></p>
            <p class="card-text">Exam Duration: <%= exam.duration %></p>
            <p class="card-text">Total Questions: <%= count_questions(exam) %></p>
            <!-- Add more exam details as needed -->
          </div>
          <div class="card-footer">
            <a href="<%= admin_exam_path(exam) %>" class="btn btn-primary">View Details</a>
            <a href="<%= edit_admin_exam_path(exam) %>" class="btn btn-secondary">Edit</a>
            <a href="<%= admin_exam_path(exam) %>" class="btn btn-danger" data-confirm="Are you sure?">Delete</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <div class="text-center">
  <%= link_to 'Add Exam', new_admin_exam_path, class: 'btn btn-primary' %>
</div>

