<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Leader Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Registrations", registrations_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Dash Board", root_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="userDropdown">
                <%= link_to "Profile", user_path(@user), class: "dropdown-item" %>
                <a href="logout" class="dropdown-item">Log Out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
   <div class="text-center mt-4">
            <%= link_to "Generate Performance Report", generate_report_path(@user.exam_performances.last), class: "btn btn-primary" %>
          </div>
  <div class="row mt-4  ">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h2 class="card-title">Your Rank</h2>
          <div class="row">
            <div class="col">
              <% if @user.college.present? %>
                <% if @college_rank %>
                  <p class="card-text">College Rank: <%= @college_rank + 1 %></p>
                <% else %>
                  <p class="card-text">Update your profile to get college-wise rank</p>
                <% end %>
              <% end %>
            </div>
            <div class="col">
               <% if @overall_rank %>
                <p class="card-text">Overall Rank: <%= @overall_rank + 1 %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Your Subject-wise Performance</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Performance ID</th>
            <th>Subject</th>
            <th>Average Score</th>
          </tr>
        </thead>
        <tbody>
          <% @subject_performances.each do |performance_id, average_score| %>
            <tr>
              <td><%= performance_id %></td>
              <% subject = Subject.find_by(id: performance_id) %>
              <td><%= subject ? subject.subject_name : 'Subject not found' %></td>
              <td><%= average_score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h2>Your Subject-wise Performance Chart</h2>
      <%= pie_chart @subject_performances %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Your Department-wise Performance</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Performance ID</th>
            <th>Department</th>
            <th>Average Score</th>
          </tr>
        </thead>
        <tbody>
          <% @department_performances.each do |performance_id, average_score| %>
            <tr>
              <td><%= performance_id %></td>
              <% department = Department.find_by(id: performance_id) %>
              <td><%= department ? department.department_name : 'Department not found' %></td>
              <td><%= average_score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h2>Your Department-wise Performance Chart</h2>
      <%= bar_chart @department_performances %>
    </div>
  </div>
</div>
