
<div class='container'>
<nav class="navbar  navbar-light bg-light">
  <a class="navbar-brand float-left" href="#">Leader board</a>
<%= link_to "Home", root_path, class: "btn btn-outline-primary" %></nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Your Subject-wise Performance</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Average Score</th>
          </tr>
        </thead>
        <tbody>
          <% @subject_performances.each do |subject_id, average_score| %>
            <tr>
              <% subject = Subject.find_by(id: subject_id) %>
              <td><%= subject ? subject.subject_name : 'Subject not found' %></td>
              <td><%= average_score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="col-md-6">
      <h2>Your Department-wise Performance</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Department</th>
            <th>Average Score</th>
          </tr>
        </thead>
        <tbody>
          <% @department_performances.each do |department_id, average_score| %>
            <tr>
              <% department = Department.find_by(id: department_id) %>
              <td><%= department ? department.department_name : 'Department not found' %></td>
              <td><%= average_score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
