<h1>Create New Department</h1>

<%= form_for [:admin, @department] do |f| %>
  <% if @department.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :department_name %>
    <%= f.text_field :department_name, class: 'form-control' %>
  </div>

  <%= f.submit 'Create Department', class: 'btn btn-primary' %>
<% end %>

<p><%= link_to 'Back to Departments', admin_departments_path %></p>
