<%= form_with(model: question, url: url, method: method, class: 'form') do |form| %>
  <div class="form-group">
    <%= form.label :exam_id, 'Exam', class:'required' %>
    <%= form.collection_select :exam_id, exams, :id, :exam_name, prompt: 'Select an exam', class: 'form-control' %>
    <% if form.object.errors.has_key?(:exam_id) %>
      <span class="error text-danger">
        <%= form.object.errors[:exam_id].first %>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :question_text, class:'required' %>
    <%= form.text_area :question_text, class: 'form-control' %>
    <% if form.object.errors.has_key?(:question_text) %>
      <span class="error text-danger">
        <%= form.object.errors[:question_text].first %>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :answer1, class:'required' %>
    <%= form.text_field :answer1, class: 'form-control' %>
    <% if form.object.errors.has_key?(:answer1) %>
      <span class="error text-danger">
        <%= form.object.errors[:answer1].first %>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :answer2, class:'required' %>
    <%= form.text_field :answer2, class: 'form-control' %>
    <% if form.object.errors.has_key?(:answer2) %>
      <span class="error text-danger">
        <%= form.object.errors[:answer2].first %>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :answer3, class:'required' %>
    <%= form.text_field :answer3, class: 'form-control' %>
    <% if form.object.errors.has_key?(:answer3) %>
      <span class="error text-danger">
        <%= form.object.errors[:answer3].first %>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :answer4, class:'required' %>
    <%= form.text_field :answer4, class: 'form-control' %>
    <% if form.object.errors.has_key?(:answer4) %>
      <span class="error text-danger">
        <%= form.object.errors[:answer4].first %>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :correct_answer, class:'required' %>
    <%= form.select :correct_answer, [['Answer 1', 1], ['Answer 2', 2], ['Answer 3', 3], ['Answer 4', 4]], { prompt: 'Select correct answer' }, class: 'form-control' %>
    <% if form.object.errors.has_key?(:correct_answer) %>
      <span class="error text-danger">
        <%= form.object.errors[:correct_answer].first %>
      </span>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit submit_button_text, class: 'btn btn-primary' %>
  </div>
<% end %>

