<div class="container mb-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-toggler h4 text-dark" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        <%= link_to 'Dash Board', root_path, class: "nav-link"  %>
      </ul>
    </div>
  </nav>
  <div class="card mt-5">
    <div class="card-body">
      <h2 class="card-title"><%= @exam.exam_name %></h2>
      <div class="row">
        <div class="col-md-6">
          <h5 class="card-subtitle mb-2 text-muted">Start Time:</h5>
          <p class="card-text"><%= (@exam.start_time + 5.hours + 30.minutes).strftime('%d/%m/%Y %I:%M %p') %></p>
        </div>
        <div class="col-md-6">
          <h5 class="card-subtitle mb-2 text-muted">Exam Duration:</h5>
          <p class="card-text"><%= @exam.duration %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5 class="card-subtitle mb-2 text-muted">Subject:</h5>
          <p class="card-text"><%= @exam.subject.subject_name %></p>
        </div>
        <div class="col-md-6">
          <h5 class="card-subtitle mb-2 text-muted">Department:</h5>
          <p class="card-text"><%= link_to @exam.subject.department.department_name, department_path(@exam.subject.department) %></p>
        </div>
      </div>
    </div>
  </div>

  <h2>Professors</h2>
  <div class="professors-scroll scrolling-wrapper d-flex flex-row flex-nowrap overflow-auto">
    <% @department.professors.each do |professor| %>
      <div class="card bg-light p-3 ml-3 mr-3 mt-5" style="width: 31.33%;">
        <% if professor.profile_picture.attached? %>
            <%= image_tag professor.profile_picture, class: "profile-picture rounded-circle", style: "width: 50px; height: 50px;" %>
        <% else %>
          <%= image_tag "profile_picture", class: "profile-picture rounded-circle", style: "width: 50px; height: 50px;" %>
        <% end %>
        <h3><%= professor.name %></h3>
        <p><%= professor.summary %></p>
        <a href="<%= professor.linkedin_link %>" target="_blank">LinkedIn Profile</a>
      </div>
    <% end %>
  </div>
</div>
